@model StayAzerbaijan.ViewModels.HotelsVM
@{
    ViewData["Title"] = "Index";
}
<style>
    .hidden {
        display: none;
    }
</style>

<div class="hotels-section">
    <div class="header-text">
        <h5>#əməkdaşlıqlarımız</h5>
        <h1>Otellər</h1>
        <p>Eksklüziv qiymətlərlə əməkdaşlıq etdiyimiz otelləri sizə təklif edirik.</p>
    </div>
</div>
<div class="hotels-list">
    <div class="list-container">
        @foreach (var hotel in Model.Hotels)
        {
            <div class="hotel-example-card hotel-item">
                <img src="~/../assets/images/@hotel.MainImgUrl" class="hotel-img" style="width:100%;" />
                <div class="info-part">
                    <a href="#" class="hotel-name">@hotel.Name</a>
                    <h5 class="hotel-price">Qiymət başlayır: ₼@hotel.Price/gecə</h5>
                    <p class="hotel-location"><img src="../assets/icons/location.svg" /> @hotel.Location</p>
                    <p class="hotel-category">Kateqoriya: @(hotel.HotelCategories != null ? string.Join(", ", hotel.HotelCategories.Where(c => c.Category != null).Select(c => c.Category.Name)) : "No Categories")</p>
                </div>
                <div class="line"></div>
            </div>
        }
    </div>
    @if (!Model.Hotels.Any())
    {
        <button id="show-more-btn" class="show-more" style="display: none;">Daha çox göstər</button>
    }
    else
    {
        <button id="show-more-btn" class="show-more">Daha çox göstər</button>
    }
</div>

@section Scripts {
    <script>
        var page = 2;
        var pageSize = 3;

        $('#show-more-btn').click(function () {
            $.ajax({
                url: '@Url.Action("GetMoreHotels", "Hotels")',
                data: { page: page, pageSize: pageSize },
                success: function (data) {
                    $('.list-container').append(data);
                    page++;
                }
            });
        });
    </script>
}

}
