@using StayAzerbaijan.Entities
@model Promocode
@{
    ViewData["Title"] = "Create";
}

<div>
    <h1>
        Create a promocode
    </h1>
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <form method="post">
            <h5 style="color:gray;">Promocode Name:</h5>
            <input asp-for="Code" type="text" style="
                   border: 1px solid blue;
                   width: 250px;
                   height: 50px;
                   padding: 10px;
                   border-radius: 10px;" /> <br />
            <span asp-validation-for="Code" class="text-danger"></span><br />
            <h5 style="color:gray;">Discount Amount:</h5>
            <input asp-for="DiscountAmount" type="number" style="
                   border: 1px solid blue;
                   width: 250px;
                   height: 50px;
                   padding: 10px;
                   border-radius: 10px;" /> <br />
            <span asp-validation-for="Code" class="text-danger"></span><br />


            <button type="submit" style="
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #83da83;
    color: white;
">
                Save
            </button>
            <a asp-action="Index" asp-controller="promocode" class="btn btn-outline-secondary">
                Cancel
            </a>
        </form>
    </div>
</div>