
@{
    ViewData["Title"] = "Register";
}
<div class="register-section">
    <div class="left">
        <div class="header">
            <h1>Hesab yarat</h1>
            <p>Xoş gəldin! Yeni hesab yarat, rezervasiyaya başla.</p>
        </div>
        <form class="submit-form">
            <div class="name">

                <input type="text"
                       id="firstname"
                       placeholder="Ad"
                       class="firstname"
                       required />
                <p class="error-message"></p>

            </div>

            <div class="surname">
                <input type="text"
                       id="lastname"
                       placeholder="Soyad"
                       class="lastname"
                       required />
                <p class="error-message"></p>
            </div>

            <div class="email">

                <input type="email"
                       id="email"
                       placeholder="Email ünvanı"
                       class="email-input"
                       required />
                <p class="error-message"></p>
            </div>

            <div class="password">

                <input type="password"
                       id="password"
                       placeholder="Şifrə"
                       class="password-input"
                       required />

                <p class="error-message"></p>
            </div>
            <div class="confirm-password">
                <input type="password"
                       id="confirmPassword"
                       placeholder="Şifrəni təkrarla"
                       class="confirm-password"
                       required />
                <p class="error-message"></p>
            </div>
            <div class="password-validation-box" id="password-validation-box">
                <h5> Şifrə qeyd olunan qaydalara riayət etməlidir:</h5>
                <p id="lowercase" class="invalid">Kiçik hərf</p>
                <p id="capital-letter" class="invalid">Böyük hərf</p>
                <p id="number" class="invalid">Rəqəm</p>
                <p id="length" class="invalid">Minimum 8 element</p>
            </div>
            <button type="submit" class="submit">Yarat</button>
            <a asp-controller="Account" asp-action="Login">Hesabın var artıq? O zaman daxil ol.</a>
        </form>
    </div>
    <div class="right">
        <img src="../assets/images/mobile.png" />
    </div>
</div>