
@{
    ViewData["Title"] = "Index";
}
<div class="transport-section">
    <div class="text-header">
        <h5>#maşınbizdən</h5>
        <h1>Transfer xidmətləri</h1>
        <p>İstənilən istiqamətə və nəfər sayına uyğun </br> ən təhlükəsiz transferi bizdən əldə et.</p>
    </div>

</div>
<div class="prices-section">
    <div class="price-header">
        <h3>Qiymət və təkliflər:</h3>
    </div>
    <div class="cars-section">
        <div class="standart-car">
            <div class="top">
                <img src="../assets/images/hyundai.png" class="car-img" />
                <p class="name">Standart</p>
                <div class="line"></div>
            </div>

            <div class="people-count">
                <img src="../assets/icons/people.svg" class="people" /><p>Nəfər sayı: 2-4</p>
            </div>
            <div class="car-price">
                <img src="../assets/icons/price.svg" class="price-icon" /><p class="price">Gediş-dönüş: 100 ₼</p>
            </div>
            <div class="car-model">
                <img src="../assets/icons/car.svg" class="model" />
                <p class="model-name">Hyundai Accent (2018)</p>
            </div>
        </div>

        <div class="business-car">
            <div class="top">
                <img src="../assets/images/vipcar.png" class="car-img" />
                <p class="name">Business</p>
                <div class="line"></div>
            </div>

            <div class="people-count">
                <img src="../assets/icons/people.svg" class="people" /><p>Nəfər sayı: 2-4</p>
            </div>
            <div class="car-price">
                <img src="../assets/icons/price.svg" class="price-icon" /><p class="price">Gediş-dönüş: 320 ₼</p>
            </div>
            <div class="car-model">
                <img src="../assets/icons/car.svg" class="model" />
                <p class="model-name">Mercedes S class (2021)</p>
            </div>
        </div>
        <div class="viano-car">
            <div class="top">
                <img src="../assets/images/viano.png" class="car-img" />
                <p class="name">Viano</p>
                <div class="line"></div>
            </div>

            <div class="people-count">
                <img src="../assets/icons/people.svg" class="people" /><p>Nəfər sayı: 6-8</p>
            </div>
            <div class="car-price">
                <img src="../assets/icons/price.svg" class="price-icon" /><p class="price">Gediş-dönüş: 200 ₼</p>
            </div>
            <div class="car-model">
                <img src="../assets/icons/car.svg" class="model" />
                <p class="model-name">Mercedes Viano (2018)</p>
            </div>
        </div>
        <div class="bus-car">
            <div class="top">
                <img src="../assets/images/bus.png" class="car-img" />
                <p class="name">Neoplan</p>
                <div class="line"></div>
            </div>

            <div class="people-count">
                <img src="../assets/icons/people.svg" class="people" /><p>Nəfər sayı: 30-40</p>
            </div>
            <div class="car-price">
                <img src="../assets/icons/price.svg" class="price-icon" /><p class="price">Gediş-dönüş: 650 ₼</p>
            </div>
            <div class="car-model">
                <img src="../assets/icons/car.svg" class="model" />
                <p class="model-name">Neoplan (2020)</p>
            </div>
        </div>
    </div>
</div>
<div class="transfer-info">
    <div class="info-container">
    </div>
</div>
