
@{
    ViewData["Title"] = "About";
}
<div class="background">
    <video autoplay loop muted playsinline>
        <source src="../assets/images/video.mp4" type="video/mp4">
    </video>
    <div class="logo-text">
        <img src="../assets/images/logo.png" />
        <h1>#bizkimik?</h1>
        <h4>GƏL TANIŞ OLAQ</h4>
    </div>
</div>
<div class="about-section">
    <div class="about-container">
        <div class="left">

            <h3 class="header">Azərbaycan üzrə otellərin </br> cəmi 1 kliklə rezervasiyasını </br> təşkil edirik.</h3>
            <p>Et labore harum non nobis ipsum eum molestias mollitia et corporis praesentium a laudantium internos. Non quis eius quo eligendi corrupti et fugiat nulla qui soluta recusandae in maxime quasi aut ducimus illum aut optio quibusdam!</p>
        </div>
        <div class="right">
            <div class="ellipse">
                <img class="first" src="../assets/images/brush.png" />
                <img class="second" src="../assets/images/dashed.png" />
                <img class="third" src="../assets/images/Ellipse.png" />
            </div>

        </div>
    </div>
</div>
<div class="review-section">
    <div class="review-container">
        <div class="header">
            <img src="../assets/icons/hearteyes.svg" />
            <h5>#niyəbiz?</h5>
            <h1>Bizim uğurumuz:</h1>
        </div>
        <div class="review">
            <div class="customer">
                <img class="99" src="../assets/images/99.jpg" />
                <h3>razı müştəri</h3>

            </div>
            <div class="groups">
                <img class="48" src="../assets/images/48.jpg" />
                <h3>qrup rezervasiyaları</h3>
            </div>

            <div class="corporates">
                <img class="78" src="../assets/images/78.jpg" />
                <h3>korporativ əməkdaşlıq</h3>
            </div>

        </div>

    </div>
    <img class="travel" src="../assets/images/aboutpage.png" />
</div>