.contact-us {
  width: 100%;
  @include for-size(mobile) {
    min-width: 375px;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    padding: 60px 30px;
    gap: 130px;
    @include for-size(tablet) {
      gap: 30px;
    }
    @include for-size(mobile) {
      flex-direction: column;
    }

    .left {
      h2 {
        margin-bottom: 20px;
        font-size: 36px;
        color: rgb(211, 138, 1);
      }
    }
    .right {
      position: relative;
      overflow: hidden;
      p {
        font-size: 19px;
      }
      .call {
        width: 13px;
      }
      @include for-size(mobile) {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: center;
        padding: 0px 40px;
      }

      .callcentre {
        width: 300px;
        @include for-size(tablet) {
          width: 200px;
        }

        animation: bounce 0.5s infinite alternate;
      }

      h3 {
        color: orange;
      }

      h2 {
        font-size: 40px;
      }

      @keyframes bounce {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-10px);
        }
      }
    }
  }
}
