@using StayAzerbaijan.Areas.Admin.ViewModels;
@using StayAzerbaijan.Entities;

@model UpdateHotelVM

<div>
    <h2>
        Update Hotel
    </h2>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div>
            <label asp-for="MainPhoto"></label>
            <input asp-for="MainPhoto" class="form-control" />
        </div>


        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div>
            <label asp-for="PricePerNight"></label>
            <input asp-for="PricePerNight" class="form-control" />
        </div>

        <div>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="5" cols="60" class="form-control"></textarea>
        </div>

        <div>
            <label asp-for="CategoryIds"></label>
            <select asp-for="CategoryIds" class="form-select">
                @foreach (var category in Model.Categories)
                {
                    @if (Model.CategoryIds.Contains(category.Id))
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>

        <div>
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
        </div>

        <div>
            <label asp-for="Star">Star Rating</label>
            <select asp-for="Star" class="form-control">
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
            </select>
        </div>

        <div>
            <label asp-for="SliderPhoto"></label>
            <input asp-for="SliderPhoto" class="form-control" />
        </div>

        <div>
            <label asp-for="IsAvailableOnWeekend">Available on Weekend</label>
            <input asp-for="IsAvailableOnWeekend" type="checkbox" class="form-check-input" />
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-outline-success">
                Update
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).on("click", "#delete-image", function () {
            $(this).parent().remove();
        });
    </script>
}
