.login-section,
.register-section {
  width: 100%;
  padding: 50px;
  display: flex;
  gap: 90px;
  justify-content: center;
  @include for-size(mobile) {
    min-width: 375px;
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    img {
      width: 15px;
    }
    form {
      width: 250px;

      display: flex;
      flex-direction: column;
      gap: 10px;
      .password-validation-box {
        @include password-validation-box;

        h5 {
          margin-bottom: 5px;
        }

        .valid {
          color: green;
        }

        .valid:before {
          position: relative;
          content: "✓";
          margin-right: 5px;
        }

        .invalid {
          color: red;
        }

        .invalid:before {
          position: relative;
          margin-right: 5px;
          content: "✗";
        }
      }
      .name,
      .password {
        @include center-items;
        gap: 10px;
      }
      input {
        width: 200px;
        border: 1px solid rgba(48, 48, 181, 0.699);
        padding: 5px;
        outline: none;
        border-radius: 5px;
      }
      a {
        font-size: 14px;
      }
      .submit {
        width: 200px;
        color: white;
        cursor: pointer;

        transition: 0.3s;
        background-color: rgba(48, 48, 181, 0.699);
        height: 30px;
        border: 1px solid transparent;
        border-radius: 5px;
        outline: none;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .header {
      h1 {
        font-size: 50px;
        margin-top: 30px;
        color: rgb(23, 12, 48);
      }
    }
  }
  .right {
    img {
      width: 600px;
      @include for-size(tablet) {
        width: 400px;
      }
      @include for-size(mobile) {
        width: 100%;
      }
    }
  }
}
