@{
    ViewData["Title"] = "Contact";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="contact-us">
    <div class="contact-container">
        <div class="left">
            <h2>Əlaqə üçün aşağıdakı </br>formu doldur:</h2>
            <form id="contact-form" method="post" action="/Contact/SendMessage">
                <div class="form-group">
                    <label for="name">Ad</label>
                    <input type="text" id="name" name="name" required class="form-control" placeholder="Ad">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="message">Mesaj</label>
                    <textarea id="message" name="message" rows="5" required class="form-control" placeholder="Mesajını bura yaz..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Göndər</button>
            </form>
        </div>
        <div class="right">
            <img src="../assets/images/callcentre.png" class="callcentre" />
            <h3>#dardaqoymarıq</h3>
            <h2>24/7 canlı dəstək</h2>
            <p>Qaynar xətt: 140 <img src="../assets/icons/call.svg" class="call" /></p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        $('#contact-form').submit(function (event) {
            event.preventDefault();
            $('#success-modal').modal('show');
        });
    });
</script>
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="success-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="success-modal-label">Mesajınız uğurla göndərildi!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Bağla">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Biz sizin mesajınızı aldıq! Ən qısa müddətdə sizinlə əlaqə saxlayacağıq. Təşəkkürlər!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
