.amenities {
  padding: 30px 10px;
  background-color: rgba(107, 79, 79, 0.829);
  @include center-items;
  flex-direction: column;
  gap: 50px;
  height: 300px;
  color: white;
  @include for-size(mobile) {
    height: 100%;
    min-width: 375px;
  }
  h4 {
    font-size: 26px;
    font-weight: 400;
  }
  .amenities-table {
    @include center-items;
    justify-content: center;
    display: flex;
    gap: 250px;
    @include for-size(mobile) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
    .table {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 20px;
    }
  }
}
